@font-face {
  font-family: "myFont";
  src: url("/assets/font/Belfast-Serial Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "myFont2";
  src: url("/assets/font/IndentureEnglishPenman_personal_use_demo_0.ttf");
  font-weight: normal;
  font-style: normal;
}

.about-container2 {
  padding-top: 7%;
  padding-bottom: 8%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;      
  text-align: center;
}
.main-title {
  font-family: "myFont";
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 30px;
  transform: translateX(40px);
}

.about-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 30px;
  justify-content: center; 
}

.about-text {
  transform: translateX(90px); 
  max-width: 700px;
  text-align: left; 
}

.subtitle {
  font-size: 3rem;
  margin-bottom: 30px;
}

.about-text p {
  font-size:25px;
  margin-bottom: 10px;
}

.profile-photo {
  width: 400px;
  height: 390px;
  border-radius: 100% 100% 0 0;
  object-fit: cover;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.buttons {
  display: flex;
  justify-content: center; 
  gap: 20px;              
  margin-top: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 30px;
  margin-bottom: 40px;
}

button {
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.click {
  width: 160px;
}

.toggle {
  width: 180px;
}

.subscribe {
  width: 425px;
}

.glass {
  background: rgba(255, 255, 255, 0.15);  
  border: 1px solid rgba(255, 255, 255, 0.25); 
  backdrop-filter: blur(8px);           
  -webkit-backdrop-filter: blur(8px);   
  color: #000000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.glass:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}
input {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 400px;
  font-size: 14px;
}

p {
  margin: 0;
  font-size: 1rem;
  color: #000000;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }
}