<div class="about-container2">
  <h1 class="main-title">{{ title }}</h1>
  <div class="about-content">
    <div class="about-text">
      <h2 class="subtitle">{{ subtitle }}</h2>
      <p>{{ passion }}</p>
      <p>{{ hobbies }}</p>
    </div>

    <img [src]="photoUrl" alt="My Photo" class="profile-photo" />
  </div>
</div>

<div class="buttons">
  <button class="click glass" (click)="addLike()">👍 Like</button>
  <span>Likes: {{ likes }}</span>

 <button class="toggle glass" (click)="toggleMessage()">Toggle Message</button>
 @if (showMessage) {
  <p>Thank you for visiting!</p>
}
</div>

<div class="form">
  <input [(ngModel)]="name" placeholder="Enter your name" />
  <p>Hello, {{ name }}</p>

  <input [(ngModel)]="email" placeholder="Leave your email" />
  <button class="subscribe glass" (click)="subscribe()" [disabled]="!email">Subscribe</button>
  @if (subscribed) {
    <p>Thanks, {{ email }}, we’ll be in touch!</p>
  }
</div>
