@font-face {
  font-family: "myFont";
  src: url("/assets/font/Belfast-Serial Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "myFont2";
  src: url("/assets/font/IndentureEnglishPenman_personal_use_demo_0.ttf");
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "myFont"
}
body {
background:
  radial-gradient(circle at center, rgba(228, 236, 167, 0.8), transparent 80%);   /* #E4ECA7 */
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: glassFlow 10s ease-in-out infinite alternate;
  will-change: background-position;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transition: all 0.4s ease;
}

main {
  flex: 1;
  animation: slideInBlur 0.8s ease-out;
}
