@font-face {
  font-family: "myFont";
  src: url("/assets/font/Belfast-Serial Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
.todo-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 24px;
  font-family: "myFont", sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  margin-bottom: 24px;
  color: #000000;
  font-size: 26px;
  font-weight: 600;
}

input[type="text"] {
  width: 95.6%; 
  display: block;
  margin: 1 auto 20px;
  padding: 12px 18px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid #704747;
  font-size: 15px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
  transition: 0.2s;
}
input::placeholder {
  color: #888;
  font-style: italic;
  line-height: 1.6;
}
input[type="text"]:focus {
  border-color: #2905dc;
  box-shadow: 0 3px 10px rgba(0, 120, 215, 0.15);
  outline: none;
}

button {
  width: 100%;
  margin-bottom: 24px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #4e3cea;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s, transform 0.1s;
}

button:hover:not(:disabled) {
  background-color: #3600a3;
  transform: translateY(-1px);
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background: #fff;
  border-radius: 14px;
  padding: 16px 18px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  position: relative;
}

li:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

li.completed {
  background: #efe8f5;
  color: #2a0c74;
  text-decoration: line-through;
}

li strong {
  display: inline-block;
  background: #3200d7;
  color: white;
  font-size: 13px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 8px;
  position: absolute;
  top: 12px;
  right: 12px;
  box-shadow: 0 2px 4px rgba(61, 0, 215, 0.3);
}

li span {
  display: block;
  margin-top: 30px;
  font-size: 15px;
  line-height: 1.4;
  color: #333;
}

li.completed strong {
  background: #6d0fb9;
  box-shadow: 0 2px 4px rgba(109, 15, 185, 0.3);
}

.empty-text {
  text-align: center;
  color: #cdc3e5;
  font-size: 15px;
  margin-top: 30px;
}
