.todo-container {
  max-width: 400px;
  margin: 2rem auto;
  text-align: center;
}

button {
  background-color: #4c00ff;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #3300b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f8f8fa;
  margin: 8px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  text-align: left;
}

li.completed {
  background-color: #d7d4ed;
  text-decoration: line-through;
  color: #151957;
}
