.about-container2 {
  padding-top: 2%;
  padding-bottom: 8%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-title {
  font-family: "myFont2";
  font-size: 150px;
  font-weight: bold;
  margin-bottom: 10px;
  transform: translateX(40px);
}

.about-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.about-text {
  font-family: "myFont";
  transform: translateX(90px);
  max-width: 700px;
  text-align: left;
}

.subtitle {
  font-size: 3rem;
  margin-bottom: 30px;
}

.about-text p {
  font-size: 25px;
  margin-bottom: 10px;
}

.profile-photo {
  width: 400px;
  height: 470px;
  border-radius: 100% 100% 0 0;
  object-fit: cover;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }
}